*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(
        circle at top,
        #101a38,
        #020617
    );

    font-family:
    "Segoe UI",
    sans-serif;

    color:white;
}

.hidden{
    display:none;
}

.start-screen{

    width:390px;

    text-align:center;
}

.logo{

    font-size:40px;

    font-weight:bold;

    color:#00e5ff;

    text-shadow:
    0 0 20px #00e5ff;

    margin-bottom:20px;
}

.start-screen p{

    margin-bottom:30px;

    color:#9ecfff;
}

.start-screen input{

    width:100%;

    padding:15px;

    border-radius:15px;

    border:none;

    margin-bottom:15px;
}

.start-screen button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:
    linear-gradient(
        135deg,
        #00e5ff,
        #7b61ff
    );

    color:white;

    font-weight:bold;
}

.phone{

    width:390px;
    height:844px;

    background:
    rgba(255,255,255,.03);

    backdrop-filter:blur(20px);

    border-radius:35px;

    border:
    1px solid rgba(0,229,255,.2);

    overflow:hidden;

    display:flex;
    flex-direction:column;

    box-shadow:
    0 0 30px rgba(0,229,255,.25);
}

.header{

    text-align:center;

    padding:20px;

    font-weight:bold;

    letter-spacing:2px;

    color:#00e5ff;
}

.timer-card,
.mission-card,
.status-card,
.content{

    margin:10px;

    padding:15px;

    border-radius:20px;

    background:
    rgba(255,255,255,.03);

    border:
    1px solid rgba(0,229,255,.15);
}

#timer{

    text-align:center;

    color:#00e5ff;

    text-shadow:
    0 0 15px #00e5ff;

    font-size:42px;
}

.status-card{

    display:flex;
    justify-content:space-around;
}

.content{

    flex:1;

    overflow:auto;
}

.bottom-nav{

    display:flex;
    justify-content:space-around;

    padding:15px;
}

.bottom-nav button{

    width:70px;
    height:70px;

    border-radius:50%;

    border:none;

    color:white;

    font-weight:bold;

    background:
    linear-gradient(
        135deg,
        #00e5ff,
        #7b61ff
    );

    box-shadow:
    0 0 15px rgba(0,229,255,.3);
}

.loader{

    width:80px;
    height:80px;

    border:
    4px solid #00e5ff;

    border-top:
    4px solid transparent;

    border-radius:50%;

    margin:20px auto;

    animation:
    spin 1s linear infinite;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

.success{

    text-align:center;

    animation:fade .5s;
}

@keyframes fade{

    from{
        opacity:0;
        transform:scale(.9);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}